.user-container{
    border: 2px solid #dcd8d8;
    border-radius: 10px;
    margin-bottom: 30px;
}

.user{
    border: 1px solid black;
    padding: 15px 200px 15px 30px;
    background-color: white;
}