<div class="loginContainer">

    <div class="loginHeader">
        Login
    </div>


    <form (ngSubmit)="f.form.valid && onSubmit(f)" #f="ngForm" class="loginBody">
       
       

        <div class="form-group">
           
            <input class="form-control" type="email" id="email" ngModel name="email" placeholder="Email" required email #email="ngModel" (click)="retryLogin()">
            <div class="alert alert-danger" *ngIf="email.errors && (email.dirty || email.touched || f.submitted)">
                <div *ngIf="email.errors.required"> Email ID is Required </div>
                <div *ngIf="email.errors.email"> Email is not valid </div>
             </div>
        </div>


      
        <div class="form-group">
            
            <input class="form-control" type="password" id="password" ngModel name="password" placeholder="Password" required #password="ngModel" (click)="retryLogin()">
            <div class="alert alert-danger" *ngIf="password.errors && (password.dirty || password.touched || f.submitted)">
                <div *ngIf="password.errors.required"> Password is Required </div>
             </div>
        </div>

        <div class="loginFooter">
            <button type="submit" class="btn btn-primary" value="Login" [disabled]="!f.form.valid">Login</button>    
            <a type="button" class="" routerLink="/forgot">Forgot Password ?</a> 
        </div>
        
    </form>
    <div *ngIf="errorMessage" class="alert alert-danger">
        {{errorMessage}}
    </div>
</div>
