.container{
    display: flex;
    margin-top: 40px;
}
body{
    background-color: #eeeeee;
}

.loginBody{
    padding: 20px;
    border: 1px solid #c5c5c5;
    background: white;
}

.pull-right{
    float: right;
}

.pull-left{
    float: left;
}