.pending-friend{
    border: 2px solid #ddd;
    margin: 20px;
    padding: 10px;
    background-color: #fff;
    border-radius: 6px;
}
.pending-friend > img {
    width: 10%;
}
.friends{
    width: 100%;
}