.pending-friend{
    border: 2px solid #ddd;
    margin: 20px;
    padding: 10px;
    background-color: #fff;
    border-radius: 6px;
}

.pending-friend > img {
    width: 10%;
}
.request{
    width: 100%;
}
.requestButton{
    margin-top: 20px;
    margin-right: 20px;
}