

.post-container{
    display: flex;
    flex-direction: column-reverse;
    background-color: #ffffff;
    padding: 20px;
    margin-top: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: medium;
    margin-bottom: 200px;
}
.post-container div{
    border-bottom: 1px dashed #ccc;
    padding-bottom: 10px;
    margin-bottom: 10px;
}
.postUpdates{
    display: flex;
}
.postUpdates input{
margin-right: 10px;
}
.posts{
    width: 100%;
}