.settings{
    width: 50%;
    margin:20px auto;
}
.settings div{
    display: inline-block;
    cursor: pointer;
    border: 1px solid #ccc;
    padding: 10px;
    width: 50%;
    text-align: center;
    font-size: 18px;

}

.active-route{
    font-weight: bolder;
    text-decoration: underline;
    background-color: #e2e2e2;
}