.settings{
    width: 50%;
    margin:20px auto;
}
.settings div{
    display: inline-block;
    background-color: #e2e2e2;
    border: 1px solid #ccc;
    padding: 10px;
    width: 50%;
    text-align: center;
    font-size: 18px;

}
.settings div a{
    color: #504f4f ;
}